<section class="power-page">

  <header>

    <h1>
      {{ 'power.title' | translate }}
    </h1>

    <p>
      {{ 'power.subtitle' | translate }}
    </p>

  </header>

  @if (readings$ | async; as readings) {

    @if (readings.length > 0) {

      <div class="readings">

        @for (reading of readings; track reading.id) {

          <article class="reading-card">

            <div class="reading-header">

              <h2>
                {{
                  ('status.' + reading.status)
                    | translate
                }}
              </h2>

              <span>

                {{ 'power.relay' | translate }}:

                {{
                  (
                    reading.relayEnabled
                      ? 'common.enabled'
                      : 'common.disabled'
                  ) | translate
                }}

              </span>

            </div>

            <dl>

              <div>

                <dt>
                  {{ 'power.voltage' | translate }}
                </dt>

                <dd>
                  {{ reading.voltage }} V
                </dd>

              </div>

              <div>

                <dt>
                  {{ 'power.current' | translate }}
                </dt>

                <dd>
                  {{ reading.current }} A
                </dd>

              </div>

              <div>

                <dt>
                  {{ 'power.power' | translate }}
                </dt>

                <dd>
                  {{ reading.power }} W
                </dd>

              </div>

              <div>

                <dt>
                  {{ 'power.consumption' | translate }}
                </dt>

                <dd>
                  {{ reading.accumulatedConsumption }} kWh
                </dd>

              </div>

              <div>

                <dt>
                  {{ 'power.recordedAt' | translate }}
                </dt>

                <dd>
                  {{ reading.recordedAt | date:'medium' }}
                </dd>

              </div>

            </dl>

          </article>

        }

      </div>

    } @else {

      <p>
        {{ 'power.noReadings' | translate }}
      </p>

    }

  } @else {

    <p>
      {{ 'power.loading' | translate }}
    </p>

  }

</section>
